@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0..1,0&display=block");

h1 {
    font-size: 32px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
h3 {
    font-size: 20px;
    font-weight: 600;
}
h4 {
    font-size: 16px;
    font-weight: 500;
}
h5 {
    font-size: 14px;
    font-weight: 400;
}
h6 {
    font-size: 12px;
    font-weight: 400;
}
p {
    font-size: 16px;
    font-weight: normal;
}